#!/usr/bin/env python3

import subprocess
import threading
import time
import queue

TIMEOUT = 5
RETRY_DELAY = 5

while True:
    detected = False
    q = queue.Queue()

    # start Logitech service
    proc = subprocess.Popen(
        ["/usr/local/bin/logid"],
        stdout=subprocess.PIPE,
        stderr=subprocess.STDOUT,
        text=True,
        bufsize=1,
    )

    def reader():
        for line in proc.stdout:
            q.put(line)

    # start reading output simultaneously
    threading.Thread(target=reader, daemon=True).start()

    start = time.time()
    restart = False

    # proc.poll() is None unless process finished
    while proc.poll() is None:
        try:
            line = q.get(timeout=0.5)
        except queue.Empty:
            line = None

        # timeout if no logs, ie no mouse detection
        if not detected and time.time() - start >= TIMEOUT:
            print("Startup timeout")
            restart = True
            proc.terminate()
            break

        if line is None:
            continue

        # flush buffer, otherwise it will only print
        # to journal every 4 kB
        print(line, end="", flush=True)

        if "{{ logid.mousename }}" in line:
            detected = True

        if "woke up" in line:
            print("Wakeup detected, restarting")
            restart = True
            proc.terminate()
            break

    try:
        proc.wait(timeout=2)
    except subprocess.TimeoutExpired:
        proc.kill()

    time.sleep(RETRY_DELAY)
