Defaults editor = /usr/bin/vim

Cmnd_Alias POWER_CMDS = /bin/systemctl suspend, /bin/systemctl poweroff, /bin/systemctl reboot
Cmnd_Alias UPDATE_CMDS = {{ sudoers.cmd }}

fabi {{ thishost }} = NOPASSWD: POWER_CMDS, UPDATE_CMDS
