- name: Add configuration files
  hosts: localhost
  connection: local
  become: true
  tasks:
    - name: Hostname variables
      include_vars: "vars/{{ ansible_facts['hostname'] }}.yml"

    - name: Clonezilla menu entry
      ansible.builtin.template:
        dest: /etc/grub.d/40_custom
        src: templates/40_custom.j2

    - name: No-password sudo entries
      ansible.builtin.template:
        dest: /etc/sudoers.d/mysudoers
        src: templates/mysudoers.j2
        mode: 0640
