- name: Keyboard configuration
  hosts: localhost
  connection: local
  become: true
  tasks:
    - name: Load variables
      ansible.builtin.include_vars:
        "vars/{{ ansible_facts.hostname }}.yml"

    - name: Backup original file
      ansible.builtin.copy:
        src: "{{ keyboard.path }}"
        dest: "{{ keyboard.path_backup }}"
        remote_src: true
      when: "keyboard.path_backup is not exists"
        
    - name: Add keyboard variant
      ansible.builtin.blockinfile:
        block: "{{ lookup('ansible.builtin.file', 'files/keyboard') }}"
        marker: "// {mark} ANSIBLE MANAGED BLOCK"
        path: "{{ keyboard.path }}"
        insertbefore: // EXTRAS
        append_newline: true

    - name: Select keyboard
      ansible.builtin.command:
        argv:
          - localectl
          - set-x11-keymap
          - es
          - pc105
          - fabi
          - "{{ keyboard.options }}"
      changed_when: false
