- name: Deploy secrets
  hosts: localhost
  connection: local
  vars:
    thishost: "{{ ansible_facts.hostname }}"
    home: "{{ ansible_facts.env.HOME }}"

  tasks:
    - name: decrypt SSH key
      ansible.builtin.command:
        argv:
          - gpg
          - --yes
          - -q
          - -o
          - "{{ home }}/.ssh/{{ thishost }}"
          - -d
          - "files/secrets/{{ thishost }}.key.gpg"

    - name: set permissions
      ansible.builtin.file:
        path: "{{ home }}/.ssh/{{ thishost }}"
        mode: 0600

    - name: decrypt secrets
      ansible.builtin.copy:
        src: files/secrets/env
        dest: "{{ home }}/.env"
        mode: 0600
